<nav>
  <a routerLink="/home">Inicio</a>

  <!-- Usuario autenticado -->
  <ng-container *ngIf="estaLogueado">

    <a *ngIf="esAdmin" routerLink="/productos">Gestionar Productos</a>
    <a *ngIf="esAdmin" routerLink="/clientes">Clientes</a>
    <a *ngIf="esAdmin" routerLink="/reportes">Reportes</a>

    <a *ngIf="esCliente" routerLink="/productos">Productos</a>
    <a *ngIf="esCliente" routerLink="/carrito">Carrito</a>
    <a *ngIf="esCliente" routerLink="/compras">Mis Compras</a>

    <button (click)="cerrarSesion()">Cerrar sesión</button>
  </ng-container>

  <!-- Usuario NO autenticado -->
  <ng-container *ngIf="!estaLogueado">

    <a routerLink="/login">Iniciar sesión</a>
    <a routerLink="/registro">Registrarse</a>
  </ng-container>
</nav>
